include LICENSE
include README.md
include CHANGELOG.md
include pytest.ini

recursive-include app/static *
recursive-include app/templates *
recursive-include tests *

prune build
prune dist
prune *.egg-info